{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <a href="{{ path('app_add_annonces') }}" class="btn btn-primary">Ajouter une annonce</a>
    <div class="example-wrapper">
        {% for annonce in annonces %}
            <h2 class="text-primary">{{ annonce.titre }}</h2>
            <p>{{ annonce.Contenu }}</p>
        {% endfor %}
    </div>
{% endblock %}
