<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block menu %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_hello_name') }}">HelloWorld</a></li> 
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_annonces') }}" >Annonce</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#" >futur link</a></li>
                </ul>
            </nav>
        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
